LoanSystem.WpfClient/Connected Services/LoanService/Loans.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LoanSystem.Api" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LoanSystem.Api" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Loan">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Maturity" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Loan" nillable="true" type="tns:Loan" />
</xs:schema>