LoanSystem.WpfClient/Connected Services/LoanService/Loans2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59651/Loans.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LoanSystem.Api" />
  <xs:element name="CreateLoan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LoanSystem.Api" minOccurs="0" name="loan" nillable="true" type="q1:Loan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLoanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateLoanResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoans">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLoansResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>